.DS_Store
.vscode
*.code-workspace
test

paulo-santana*
Tripouille*
cacharle*
alelievr*
AntoineBourin*
gavinfielder*
charMstr*
t0mm4rx*
yyang42*
ft_printf_test
ft_printf_tester
pft
printf-unit-test
printfTester